* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.modal {
  &-disabled {
    display: none;
  }
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  &-items {
    background: #ffffff;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &-title {
    font-size: 1.4em;
    text-align: center;
    font-weight: 100;
  }
}
.add-row {
  width: 100%;
  margin-top: 30px;
}
.input {
  outline: none;
  margin-right: 5px;
  padding-left: 10px;
  height: 40px;
  border-style: solid;
  border-radius: 5px;
  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
      width: 1135px;
      display: flex;
      justify-content: space-between;
    }
  }
  &:valid {
    border-color: #18a0fb;
  }
  &:invalid {
    border-color: #ff3e1d;
  }
}
.loader,
.table {
  width: 1140px;
  display: flex;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #18a0fb;
}
.loader {
  justify-content: center;
}
.table {
  flex-direction: column;
  & > section {
    display: flex;
    flex-direction: column;
  }
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &-input {
    outline: none;
    padding: 10px 0 10px 10px;
    border: 1px solid #18a0fb;
    border-radius: 5px;
  }
  &-label {
    cursor: pointer;
    margin-bottom: 20px;
  }
}
.row {
  &-top {
    display: flex;
    text-align: center;
    border: 1px solid #18a0fb;
    border-radius: 10px 10px 0 0;
    & .btn-def-search {
      &:nth-child(odd) {
        background: rgba(24, 160, 251, 0.2);
      }
      &:first-child {
        border-radius: 10px 0 0 0;
      }
      &:last-child {
        border-radius: 0 10px 0 0;
      }
    }
  }
  &-list {
    display: flex;
    justify-content: space-between;
    border: 1px solid #18a0fb;
    border-top: none;
    cursor: pointer;
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
  &-item {
    overflow: hidden;
    width: 225px;
    text-align: center;
    padding: 15px 0;
    background: rgba(24, 160, 251, 0.2);
    &:nth-child(even) {
      background: #ffffff;
    }
  }
}
.main {
  margin-top: 20px;
  display: flex;
  width: 100%;
}
.btn {
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.5s;
  &-def-search {
    flex-grow: 1;
    width: 100%;
    padding: 10px 20px;
    border: none;
  }
  &-down,
  &-up {
    position: relative;
    &::after {
      content: "";
      border: 9px solid transparent;
      position: absolute;
      right: 15px;
    }
  }
  &-down {
    &::after {
      border-top: 9px solid #18a0fb;
      top: 13px;
    }
  }
  &-up {
    &::after {
      border-bottom: 9px solid #18a0fb;
      top: 4px;
    }
  }
  &-open {
    padding: 15px 30px;
    border: 1px solid #18a0fb;
    border-radius: 5px;
    margin-bottom: 5px;
    &:hover {
      background-color: aliceblue;
    }
  }
  &-add {
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #18a0fb;
    width: 216px;
    &:disabled {
      border-color: gray;
      cursor: default;
    }
  }
  &-search,
  &-big,
  &-small {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #18a0fb;
    &:hover {
      background-color: aliceblue;
    }
  }
  &-big,
  &-small {
    margin-top: 0;
  }
  &-big {
    margin-right: 5px;
  }
}
.paginator {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  &-list {
    display: flex;
  }
  &-item {
    width: 40px;
    height: 40px;
    border: 1px solid #18a0fb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.5s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: aliceblue;
      transition: all 0.5s;
    }
  }
}
.disable {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}
.about-user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  width: 215px;
  padding: 10px;
  border: 1px solid #18a0fb;
  border-radius: 5px;
  &__text-area {
    border: 1px solid #18a0fb;
    outline: none;
    height: 90px;
  }
}
